$primary-color: #007bff;
$border-color: #ccc;
$hover-bg: #f8f9fa;
$dropzone-bg: #f4f4f4;

.passportUploader {
  padding: 16px;
  font-family: Arial, sans-serif;

  // Drop Zone Style
  .dropzone {
    border: 2px dashed $border-color;
    padding: 20px;
    text-align: center;
    background-color: $dropzone-bg;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $hover-bg;
    }
  }

  // Uploading Text
  .uploading {
    color: $primary-color;
    margin-top: 8px;
    font-size: 14px;
  }

  // Image Grid
  .imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
    margin-top: 25px;
  }

  .imageOuterWrapper {
    position: relative;
    .closeIcon {
      position: absolute;
      right: -10px;
      top: -15px;
      background: linear-gradient(45deg, #ff5a5f, #622774);
      padding: 5px;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      cursor: pointer;
    }
    .imageContainer {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid #a19b9b;
      padding: 10px;
      img {
        width: 100%;
        height: 120px;
        object-fit: contain;
        border-radius: 8px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }

      // Crop Button
      .crop-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 12px;
        padding: 4px 6px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;

        &:hover {
          background: black;
        }
      }
    }
    .loader {
      position: absolute;
      top: 0;
      background: #00000085;
      width: 100%;
      height: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .successWrapper {
      position: absolute;
      top: 0;
      width: 100%;
      background: #00000057;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .btnWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    button {
      width: 100%;
      padding: 10px;
      border-radius: 2px;
      border: none;
      outline: none;
      background: linear-gradient(45deg, #ff5a5f, #622774);
      cursor: pointer;
    }
  }
}
