.headerStyle {
  padding: 0;
  background: #161618;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-inline: 15px;
  gap: 40px;
  border-bottom: 1px solid #272729;
  :global {
    .ant-dropdown-menu-item-selected {
      background: #c6c6c6 !important;
      color: #000000 !important;
    }
  }
}
.profileWrapper {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-right: 15px;
  img {
    border-radius: 50%;
  }
  span {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
  }
}
