section {
  .headerWrapper {
    width: 100%;
    margin-bottom: 20px;
    .actionFlex {
      display: flex;
      width: 100%;
      background: #7077a1;
      border-radius: 16px;
      justify-content: flex-end;
      button {
        padding: 7px 15px;
        border-radius: 16px;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        &:hover {
          background: #f6b17a;
          color: #2d3250;
        }
      }
      .active {
        background: #f6b17a !important;
        color: #2d3250 !important;
      }
    }
    .createUser {
      margin-bottom: 12px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 5px;
      button {
        padding: 10px;
        font-size: 16px;
        display: flex;
        gap: 6px;
        border: none;
        border-radius: 5px;
        background: #7077a1;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background: #f6b17a !important;
        }
      }
    }
  }
}

// ........................................create user modal page start......................................
.formWrapper {
  h3 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 21px;
    color: #fff;
    text-transform: capitalize;
  }
  .fbform {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    .doubleFlex {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 16px;

      @media screen and (max-width: 678px) {
        flex-wrap: wrap;
      }
      > div {
        width: 100%;
      }

      .fbformitem {
        .fbcheckboxlabel {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #f1f1ff;
          white-space: nowrap;
          margin-bottom: 12px;
          display: block;
          position: relative;
          span {
            position: absolute;
            right: 0;
            svg {
              fill: #fff;
            }
          }
        }
        input[type="text"],
        input[type="password"] {
          width: 100%;
          height: 48px;
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding: 16px 8px 16px 20px;
          background-color: transparent;
          border: 1px solid #857474;
          border-radius: 8px;
          box-sizing: border-box;
          color: var(--white-color);
        }
      }
    }
  }
  .btnWrapper {
    width: 100%;
    button {
      width: 100%;
      --button-bg: #020314;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      margin: 1px;
      border: none;
      outline: none;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      font-family: acumin-pro, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
      box-shadow: 0 4px 60px #00000005;
      transition: background-color var(--transition-delay) ease,
        color var(--transition-delay) ease, border var(--transition-delay) ease,
        border-color var(--transition-delay) ease;
      zoom: 105%;
      background-color: var(--button-bg);
      border: solid 1px transparent;
      border-radius: 8px;
      background-image: linear-gradient(var(--button-bg), var(--button-bg)),
        linear-gradient(
          to right,
          #8a2387 0%,
          rgba(233, 64, 87, 0.5) 36.98%,
          #f27121 100%
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  .errorWarning {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }
}
