//user dashboard main styles

.userStepsMainWrapper {
  max-width: 100%;
  overflow-x: auto;

  border: 1px solid #424246;
  border-radius: 8px;

  scrollbar-width: "none";

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    // align-items: flex-start;
    list-style: none;

    li {
      list-style: none;
      flex-shrink: 0;
      padding: 20px;
      max-width: 350px;
      min-width: 350px;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 480px) {
        max-width: 292px;
      }

      &:not(:last-child) {
        border-right: 1px solid #424246;
      }
      &:first-child {
        border-right: 1px solid #424246;
      }

      .stepCountWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: center;

        h5 {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 400;
          color: #ededed;
        }

        .completed {
          padding: 8px 12px;
          background-color: #193b1f;
          border-radius: 4px;
          color: #76ae7f;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .inReview {
          padding: 8px 12px;
          background-color: #d88321;
          border-radius: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .inReview {
          padding: 8px 12px;
          background-color: #d88321;
          border-radius: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .actionRequired {
          padding: 8px 12px;
          background-color: #e05822;
          border-radius: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .pending {
          padding: 8px 12px;
          background-color: #225ee0;
          border-radius: 4px;
          color: #ffffff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }

      .stepContent {
        color: #ededed;
        margin-bottom: 40px;
        .underlined {
          text-decoration: underline;
          color: inherit;
        }
        h6 {
          font-size: 14px;
          font-weight: 500;

          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }
    .StepCompleted {
      h5,
      h6,
      p {
        color: #76767b !important;
      }
    }
  }
}

.buttonAbsoluteWarpper {
  position: absolute;
  right: 25px;
  bottom: 15px;
  button {
    all: unset;
    cursor: pointer;
    background-color: var(--btn-bg, #db4c2a);
    color: var(--text-color, #fff);
    text-transform: capitalize;
    font-size: 12px;
    padding: 15px 20px;
    line-height: 0;
    border-radius: 4px;
    float: right;
  }
}

.taskMainWrapper {
  margin-top: 20px;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;

    li {
      max-width: 400px;
      background-color: #232325;
      border-radius: 8px;
      flex-shrink: 0;

      @media screen and (max-width: 480px) {
        max-width: 100%;
      }

      .taskHeader {
        padding: 20px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;

        h6 {
          font-size: 14px;
          color: #bbb7b7;
          font-weight: 400;
        }
        span {
          color: #bf6469;
          font-size: 12px;
          line-height: 11px;
          font-weight: 400;
        }
        .alertSpan {
          background-color: #49181e;
          padding: 6px 10px;
          border-radius: 5px;
        }
        .requiredStyle {
          margin-left: auto;
          margin-right: 0;
        }
      }

      p {
        padding-inline: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #5d5c60;
      }

      .actionWrapper {
        button {
          all: unset;
          margin-top: 20px;
          padding: 20px 20px 20px;
          border-top: 1px solid #5d5c60;
          width: 100%;
          box-sizing: border-box;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:hover {
            span {
              color: #fff;
            }
          }

          span {
            color: #bf6469;
            font-size: 12px;
            line-height: 11px;
            font-weight: 400;
            transition: 0.3s ease-in;
          }
        }
      }
    }
  }
}

.actionWrapper {
  width: 100%;
  margin: 25px 0;
  .innerWrapper {
    width: 100%;
    background: var(--body-color);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border-left: 7px solid #db4c2a;
    .contentWrapper {
      width: 80%;
      padding: 10px;
      h2 {
        color: var(--white-color);
        font-size: large;
      }
      p {
        padding-block-start: 10px;
        color: #c1bcbc;
      }
    }
    .actionBtnWrapper {
      width: 20%;
      display: flex;
      justify-content: flex-end;
      padding-inline: 10px;
      button {
        background-color: #db4c2a;
        position: relative;
        display: inline-block;
        padding: 14px;
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;
        font-weight: 600;
        letter-spacing: 4px;
        overflow: hidden;
        cursor: pointer;
        border: none;
        &:hover {
          -webkit-box-reflect: below 1px
            linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
        }
        span {
          position: absolute;
          display: block;
          &:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, transparent, #fff);
            animation: animate1 1s linear infinite;
          }
          @keyframes animate1 {
            0% {
              left: -100%;
            }
            50%,
            100% {
              left: 100%;
            }
          }
          &:nth-child(2) {
            top: -100%;
            right: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #fff);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
          }
          @keyframes animate2 {
            0% {
              top: -100%;
            }
            50%,
            100% {
              top: 100%;
            }
          }
          &:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(270deg, transparent, #fff);
            animation: animate3 1s linear infinite;
            animation-delay: 0.5s;
          }

          @keyframes animate3 {
            0% {
              right: -100%;
            }
            50%,
            100% {
              right: 100%;
            }
          }
          &:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #fff);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
          }

          @keyframes animate4 {
            0% {
              bottom: -100%;
            }
            50%,
            100% {
              bottom: 100%;
            }
          }
        }
      }
    }
  }
}
