.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--body-color);
  padding: 20px;
}

.profileCard {
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarSection {
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  margin-bottom: 15px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: var(--foreground);
}

.role {
  font-size: 16px;
  color: var(--text-dark);
}

.detailsSection {
  text-align: left;
  width: 100%;
  margin-top: 20px;

  h3 {
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--foreground);

    strong {
      font-weight: bold;
      color: var(--foreground);
    }
  }
}

.actionsSection {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;

  button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .editButton {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      background-color: #292b36;
    }
  }

  .logoutButton {
    background-color: var(--text-dark);
    color: var(--white-color);

    &:hover {
      background-color: #28282c;
    }
  }
}
