.cardsContainer {
  padding-block: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;

  @media screen and (max-width:768px) {
    flex-direction: column;
    gap: 15px;
  align-items: center;

  }

  .mainCradWrapper {
    position: relative;
    max-width: 380px;
    padding: 24px;
    border-radius: 20px;
    background-color: #020314;
    border: 2px solid #a9a9f233;

    &:first-child {
      .cardTopLine {
        background: linear-gradient(270deg, #020314 0%, #22a3ff 100%);
      }
    }
    &:last-child {
      .cardTopLine {
        background: linear-gradient(270deg, #020314 0%, #ff90c9 100%);
      }
    }

    .cardTopLine {
      transform: none;
      transform-origin: 50% 50% 0px;
      box-shadow: rgba(234, 88, 12, 0.12) 0px 0px 80px 20px;
      opacity: 1;
      width: 100%;
      height: 1px;
    }

    .CardHead {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: #d1d2e8;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
      }

      h6 {
        border: 1px solid #4d54ff;
        padding: 5px 12px 6px;
        font-size: 12px;
        font-weight: 500;

        border-radius: 6px;

        background: linear-gradient(84deg, #22a3ff, #ff90c9 25%, #4d54ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .description {
    margin-top: 20px;

    p {
      font-size: 15px;
      line-height: 20px;
      color: rgb(167 168 171);
    }
  }

  .priceWrapper {
    margin-top: 30px;

    h2 {
      font-size: 30px;
      font-weight: 600;
      line-height: 20px;
      color: #fff;

      span {
        font-size: 14px;
        font-weight: 400;
        color: rgb(167 168 171);
      }
    }

    h6 {
      margin-top: 30px;
      text-align: center;
      font-size: 14px;
      color: rgb(167 168 171);
      font-weight: 400;
    }
  }

  button {
    all: unset;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid rgb(229, 231, 234);

    border-radius: 7px;
    box-shadow: rgb(0, 61, 195) 0px 0px 0px 1px;
  }

  .serviceList {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #a9a9f233;
    h6 {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: rgb(167 168 171);
      margin-bottom: 15px;
    }

    ul {
      padding-left: 20px;

      li {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: rgb(167 168 171);
        margin-bottom: 10px;
        list-style: none;

        list-style-image: url('data:image/svg+xml,<svg width="15px" height="15px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="%23ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.75 12L10.58 14.83L16.25 9.17004" stroke="%23ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
      }
    }
  }
}
