.fbonboardingcardwidgetcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 30px;

  .doubleFlex{
    width: 100%;
    display: flex
;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    >div{
        width: 100%;
    }
  }
  .fbform{
    width: 100%;
    display: flex
;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .fbformitem{

    .fbcheckboxlabel{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    

    label{
       

    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #f1f1ff;
    white-space: nowrap;
    margin-bottom: 12px;
    display: block;
    }
    input[type=text],input[type=password]{

        width: 100%;
        height: 48px;
    position: relative;
    display: flex
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px 8px 16px 20px;
    background-color:#181429;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    }

    
  }

  input[type=checkbox]{
    height: 18px;
    width: 18px;
    display: inline-flex
;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #8279A8;
    border-radius: 4px;
    background: transparent;
    margin-right: 16px;
    position: relative;
  }
  a{
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: #d64431;
    text-decoration: none;
    margin-inline   : 5px;
  }


}
