.startBusinessMainWrapper {
  min-height: 100vh;
  background-color: #030311;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 702px;
    height: 940px;
    right: -7px;
    top: -45px;
    background: radial-gradient(
      310.84% 7383.17% at 0% 0%,
      rgba(138, 35, 135, 0.15) 0%,
      rgba(233, 64, 87, 0.075) 36.98%,
      rgba(242, 113, 33, 0.15) 100%
    );
    filter: blur(168.046px);
    border-radius: 487.876px;
    z-index: 1;
  }
}
