.formWrapper {
  padding: 25px;
  .fbform {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    .doubleFlex {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 16px;
      > div {
        width: 100%;
      }
      .profileImageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 23px;
        img {
          border-radius: 50%;
        }
      }

      .fbformitem {
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #f1f1ff;
          white-space: nowrap;
          margin-bottom: 12px;
          display: block;
        }

        input[type="text"],
        input[type="password"],
        select {
          width: 100%;

          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding: 16px 8px 16px 20px;
          background-color: #2e2d2f;
          border: 1px solid transparent;
          border-radius: 8px;
          box-sizing: border-box;
          font-size: 13px;
          color: var(--white-color);
        }
      }

      .errorWarning {
        padding: 0;
        margin: 0;
        margin-top: 5px;
        font-size: 12px;
        color: red;
      }
    }
    .signUpOptions {
      width: 100%;
      margin-top: 30px;

      ul {
        all: unset;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        li {
          all: unset;
          width: 100%;
          div {
            width: 100%;
            display: block;

            text-align: center;
            position: relative;

            span {
              position: relative;
              z-index: 10;
              text-align: center;
              text-transform: uppercase;
              background-color: #090a15;
              padding: 10px;
              font-weight: 500;
            }

            &::before {
              content: "";
              height: 1px;
              background-color: #514e4e;
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              transform: translateY(-50%);
              z-index: 2;
            }
          }

          .signInBtn {
            width: 100%;
            --button-bg: #020314;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px;
            margin: 1px;
            border: none;
            outline: none;
            text-decoration: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            cursor: pointer;
            font-family: acumin-pro, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--white-color);
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.0196078431);
            transition: background-color var(--transition-delay) ease,
              color var(--transition-delay) ease,
              border var(--transition-delay) ease,
              border-color var(--transition-delay) ease;
            zoom: 105%;
            background-color: var(--button-bg);
            border: solid 1px transparent;
            border-radius: 8px;
            background-image: linear-gradient(
                var(--button-bg),
                var(--button-bg)
              ),
              linear-gradient(
                to right,
                #8a2387 0%,
                rgba(233, 64, 87, 0.5) 36.98%,
                #f27121 100%
              );
            background-origin: border-box;
            background-clip: padding-box, border-box;
          }

          .signInGoogleBtn {
            --button-bg: #020314;
            position: relative;
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px;
            margin: 1px;
            outline: none;
            text-decoration: none;
            user-select: none;
            cursor: pointer;
            font-family: acumin-pro, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--white-color);
            box-shadow: 0 4px 60px #00000005;
            transition: background-color var(--transition-delay) ease,
              color var(--transition-delay) ease,
              border var(--transition-delay) ease,
              border-color var(--transition-delay) ease;
            zoom: 105%;
            border-radius: 8px;
            background-image: linear-gradient(
                var(--button-bg),
                var(--button-bg)
              ),
              linear-gradient(
                to right,
                #8a2387 0%,
                rgba(233, 64, 87, 0.5) 36.98%,
                #f27121 100%
              );
            background-origin: border-box;
            background-clip: padding-box, border-box;
            background-color: transparent;
            border: 1px solid #312e3b;
            filter: drop-shadow(0px 4px 60px rgba(0, 0, 0, 0.02));
          }
        }
      }
    }
  }
}
