.termsWrapper{
    color: #fff;
    padding-top: 30px;

    h1{
        color: #fff;

        letter-spacing: -.025em;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 2.5rem;
        text-align: center;
        
        &:first-child{
            margin-bottom: 30px;
        }
    }


    :global{
        .ant-tabs-nav{ 
            width:100% !important;
            margin-inline: auto !important;
           
        }

        .ant-tabs-nav-wrap{
            overflow: auto !important;
            width: 100%;
            justify-content: center;
            padding-inline: 80px;

            @media screen and (max-width:768px) {
            justify-content: flex-start;
            padding-inline: 20px;
            }
        }

        .ant-tabs-nav-list{
            gap: 15px;
        }

        
        .ant-tabs-tab {
            border-bottom:none !important;
            color: #a09fa6 !important;
           margin: 0 !important;
            padding-bottom: 1em !important;
        }

        .ant-tabs-tab-active{
            border-bottom: 1px solid #fff !important;
        }

        .ant-tabs-tab-active .ant-tabs-tab-btn{
            color: #fff !important;
            border-bottom:none !important;
        }
        .ant-tabs-ink-bar{
            background: #fff !important;
        }

        .ant-tabs-nav::before {
            display: none !important;
        }
    }   
}

.policyWrapper {
    color: #fff;

    padding-block:60px 0px;
    padding-inline: 20px;

    h1 {
        &:first-child {
            text-align: center;
            margin-bottom: 50px;
        }
    }





    h1,
    h2 {

        letter-spacing: -.025em;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }

    ul{
        li{
        font-size: 14px;

        }
    }


    p {

        margin-top: .5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;

    }

    .date {
        color: #ffffff99;
        margin-bottom: .5em;
        font-size: .75rem;
        line-height: 1rem;
        border: none;
    

        p {
            margin: 0;
            padding: 0;
        }
    }

    >div {
        padding-block: 20px;
        border-top: 1px solid #ffffff1f;

        &:nth-child(2) {
            border: none;
        }

        h2 {
            padding-block: 20px;
        }

        p{
            padding-left: 30px;
        }

        ul{
            padding-left: 50px;
        }

    }
}