.outerWrapper {
  h3 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 21px;
    color: #fff;
  }
  .cardWarpper {
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 15px 23px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    h4 {
      font-size: 18px;
      color: #fff;
    }
    p {
      margin: 0;
      padding: 0;
      color: #a7a9aa;
      text-align: justify;
    }
    .documentWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 10px;
      span {
        color: #ffffff;
      }
      .btnWrapper {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
        button {
          padding: 5px 18px;
          cursor: pointer;
          outline: none;
          &:first-child {
            border: none;
            border-radius: 4px;
            background: #fd7e14;
          }
          &:last-child {
            border: none;
            border-radius: 4px;
            background: #6610f2;
          }
        }
      }
    }
  }
}

.loadingWrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  h6 {
    color: #fff;
    font-size: 18px;
  }
}

.noDataWrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  h6 {
    color: #fff;
    font-size: 18px;
  }
  button {
    padding: 7px;
    border-radius: 4px;
    background: #6b30cc;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}

.deleteWrapper {
  color: #fff;
  font-size: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  right: 5px;
  cursor: pointer;
  button {
    font-size: 12px;
    padding: 1px 5px;
    background: #25d366;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

.deleteMention {
  position: absolute;
  color: #fff;
  background: red;
  padding: 2px 30px;
  /* font-size: 15px; */
  transform: rotate(-45deg);
  left: -31px;
  top: 11px;
  h5 {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}
