.outerWrapper {
  h3 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 21px;
    color: #fff;
  }
  .cardWarpper {
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 15px 23px;
    margin-bottom: 10px;
    h4 {
      font-size: 18px;
      color: #fff;
    }
    p {
      margin: 0;
      padding: 0;
      color: #a7a9aa;
      text-align: justify;
    }
    .documentWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 10px;
      span {
        color: #ffffff;
      }
      .btnWrapper {
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
        button {
          padding: 5px 18px;
          cursor: pointer;
          outline: none;
          &:first-child {
            border: none;
            border-radius: 4px;
            background: #fd7e14;
          }
          &:last-child {
            border: none;
            border-radius: 4px;
            background: #6610f2;
          }
        }
      }
    }
  }
}

.loadingWrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
