.detailsWrapper {
  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    h3 {
      font-size: 16px;
      font-weight: 600;
      /* display: inline; */
      display: flex;
      span {
        padding-right: 10px;
        width: 70px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      color: #5b5b5b;
    }
    .buttonWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      button {
        background: #0cc143;
        padding: 10px 14px;
        color: #fff;
        border: none;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
            background: #15f157;
        }
      }
    }
  }
}
