.pricingTopHead {
  display: flex;
  align-content: center;
  align-items: center;

  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  padding: 100px 0 30px;
  position: relative;
  width: 100%;
  z-index: 2;
  gap: 16px;

  .textContainer {
    p {
      font-style: normal;
      font-weight: 600;
      color: #fff;
      font-size: 48px;
      letter-spacing: -0.04em;
      line-height: 54px;
      text-align: center;
    }
  }

  .description {
    max-width: 590px;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      letter-spacing: -0.01em;
      line-height: 140.5%;
      text-align: center;
      color: rgb(108, 114, 126);
    }
  }
}

.compareWrapper {
  min-height: 100vh;
  color: #fff;

  .mainStickyWrapper {
    width: 100%;
    position: sticky;
    top: -1px;
    background-color: #020314;
    display: flex;
    gap: 10px;

    align-items: flex-start;
    padding-block: 30px;

    .emptyContainer {
      flex-grow: 2;
      width: 200%;

      @media screen and (max-width:768px) {
        display: none;
      }
    }
    .headContainer {
      flex-grow: 1;
      width: 100%;
      padding-inline: 8px;
      @media screen and (max-width:768px) {
        width: 50%;
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
      }
      h5 {
        font-size: 14px;
        line-height: 20px;
        color: rgb(76, 86, 97);
        padding: 0;
      }

      button {
        all: unset;
        margin-top: 10px;

        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        border: 1px solid rgb(229, 231, 234);
        border-radius: 7px;
        box-shadow: rgb(0, 61, 195) 0px 0px 0px 1px;
        opacity: 1;
        padding: 8px 14px;
        width: 100%;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
      }
    }
    .head {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      width: 100%;
      margin-bottom: 10px;
      min-height: 30px;

      h6 {
        margin-left: auto;
        border: 1px solid #4d54ff;
        padding: 5px 12px 6px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 6px;
        background: linear-gradient(84deg, #22a3ff, #ff90c9 25%, #4d54ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 500;
    padding: 24px 0 24px 0px;
  }
  .contentContainer {
    .contentItem {
      display: flex;
      align-items: center;
      padding: 20px 0px 20px 20px;
      border-top: 1px solid #414141;

      @media screen and (max-width:768px) {
        flex-wrap: wrap;

      padding: 20px 0px 20px 0px;

        
      }


      &:last-child {
        border-bottom: 1px solid #414141;
      }
      .subHead {
        flex-grow: 2;
        width: 200%;

        font-size: 14px;
        font-weight: 500;
        color: rgb(133, 147, 161);
        @media screen and (max-width:768px) {
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
          }
      }
      .tick {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @media screen and (max-width:768px) {
            width: 50%;
          }
      }
    }
  }
}
