.actionContentWrapper {
  .createUser {
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    button {
      padding: 10px;
      font-size: 16px;
      display: flex;
      gap: 6px;
      border: none;
      border-radius: 5px;
      background: #7077a1;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background: #f6b17a !important;
      }
    }
  }
}

.headerWrapper {
  width: 100%;
  height: 40px;
  background: #403d39;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (max-width: 678px) {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
  button {
    border: none;
    height: 40px;
    width: 130px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .leftSide {
    button {
      background: #403d39;
      color: #fff;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;
      @media screen and (max-width: 678px) {
        width: 90%;
        margin-bottom: 10px;
      }
      &:hover {
        background: #ccc5b9;
        color: #252422;
      }
    }
  }
  .rightSide {
    /* optional layout helpers */
    display: inline-flex;

    button {
      &:first-child {
        border-radius: 25px 0 0 25px;
        background: #c6ac8f;
        color: #5e503f;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #f6b17a !important;
          color: #252422 !important;
        }
      }
      &:last-child {
        background: #bfdbf7;
        color: #1f7a8c;
        border-radius: 0 25px 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #93c5fd !important;
          color: #252422 !important;
        }
        :global {
          .anticon {
            color: #1f7a8c !important;
            margin-right: 5px;
          }
        }
      }
    }
  }
  // .active {
  //   background: #1f2937;
  //   color: #9ca3af;
  // }
  .active {
    background: #ccc5b9 !important;
    color: #252422 !important;
  }
}

.updatePaymentWrapper {
  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }
  .fbform {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    .doubleFlex {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 16px;

      @media screen and (max-width: 678px) {
        flex-wrap: wrap;
      }
      > div {
        width: 100%;
      }

      .fbformitem {
        .fbcheckboxlabel {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #ffffff;
          white-space: nowrap;
          margin-bottom: 12px;
          display: block;
        }
        select {
          width: 100%;
          padding: 13px;
          outline: none;
          border-radius: 8px;
        }
        input[type="text"],
        input[type="file"] {
          width: 100%;
          height: 48px;
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding: 16px 8px 16px 20px;
          background-color: transparent;
          border: 1px solid #857474;
          border-radius: 8px;
          box-sizing: border-box;
          color: var(--white-color);
        }
      }
    }
  }
  .btnWrapper {
    width: 100%;
    button {
      width: 100%;
      --button-bg: #020314;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      margin: 1px;
      border: none;
      outline: none;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      font-family: acumin-pro, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
      box-shadow: 0 4px 60px #00000005;
      transition: background-color var(--transition-delay) ease,
        color var(--transition-delay) ease, border var(--transition-delay) ease,
        border-color var(--transition-delay) ease;
      zoom: 105%;
      background-color: var(--button-bg);
      border: solid 1px transparent;
      border-radius: 8px;
      background-image: linear-gradient(var(--button-bg), var(--button-bg)),
        linear-gradient(
          to right,
          #8a2387 0%,
          rgba(233, 64, 87, 0.5) 36.98%,
          #f27121 100%
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  .errorWarning {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }
}

.formSendEmail {
  h3 {
    color: #fff;
    font-size: 21px;
    margin-bottom: 15px;
  }
  .errorWarning {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }
  .iconRow {
    p {
      width: 100%;
      padding: 10px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      margin-bottom: 15px;
      span {
        font-size: 16px;
        background: #5c6771;
        padding: 5px 15px;
        border-radius: 9px;
        margin-left: 13px;
      }
    }
  }
  .fbform {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    .doubleFlex {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 16px;

      @media screen and (max-width: 678px) {
        flex-wrap: wrap;
      }
      > div {
        width: 100%;
      }

      .fbformitem {
        .fbcheckboxlabel {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #f1f1ff;
          white-space: nowrap;
          margin-bottom: 12px;
          display: block;
        }
        select {
          width: 100%;
          padding: 13px;
          outline: none;
          border-radius: 8px;
        }
        input[type="text"],
        input[type="file"] {
          width: 100%;
          height: 48px;
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding: 16px 8px 16px 20px;
          background-color: transparent;
          border: 1px solid #857474;
          border-radius: 8px;
          box-sizing: border-box;
          color: var(--white-color);
        }
      }
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // .buttonPreview {
    //   background: #f27121;
    //   &:hover {
    //     background: #cc4e00;
    //   }
    // }
    button {
      --button-bg: #020314;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      margin: 1px;
      border: none;
      outline: none;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      font-family: acumin-pro, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
      box-shadow: 0 4px 60px #00000005;
      transition: background-color var(--transition-delay) ease,
        color var(--transition-delay) ease, border var(--transition-delay) ease,
        border-color var(--transition-delay) ease;
      zoom: 105%;
      background-color: var(--button-bg);
      border: solid 1px transparent;
      border-radius: 8px;
      background-image: linear-gradient(var(--button-bg), var(--button-bg)),
        linear-gradient(
          to right,
          #8a2387 0%,
          rgba(233, 64, 87, 0.5) 36.98%,
          #f27121 100%
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}
