.actionContentWrapper {
  .createUser {
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    button {
      padding: 10px;
      font-size: 16px;
      display: flex;
      gap: 6px;
      border: none;
      border-radius: 5px;
      background: #7077a1;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background: #f6b17a !important;
      }
    }
  }
}