.userStepsMainWrapper {
  max-width: 100%;
  overflow-x: auto;

  border: 1px solid #424246;
  border-radius: 8px;

  scrollbar-width: "none";

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    // align-items: flex-start;
    list-style: none;
    overflow: auto;

    li {
      list-style: none;
      flex-shrink: 0;
      padding: 20px;
      min-width: 350px;
      max-width: 350px;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 480px) {
        max-width: 292px;
      }

      &:not(:last-child) {
        border-right: 1px solid #424246;
      }
      &:first-child {
        border-right: 1px solid #424246;
      }

      .buttonAbsoluteWarpper {
        position: absolute;
        right: 25px;
        bottom: 15px;
        button {
          all: unset;
          cursor: pointer;
          background-color: var(--btn-bg, #db4c2a);
          color: var(--text-color, #fff);
          text-transform: capitalize;
          font-size: 12px;
          padding: 15px 20px;
          line-height: 0;
          border-radius: 4px;
          float: right;
        }
      }
      .stepCountWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: center;

        h5 {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 400;
          color: #bbb7b7;
        }

        .completed {
          padding: 8px 12px;
          background-color: #193b1f;
          border-radius: 4px;
          color: #76ae7f;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .inReview {
          padding: 8px 12px;
          background-color: #d88321;
          border-radius: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .inReview {
          padding: 8px 12px;
          background-color: #d88321;
          border-radius: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .actionRequired {
          padding: 8px 12px;
          background-color: #e05822;
          border-radius: 4px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
        .pending {
          padding: 8px 12px;
          background-color: #225ee0;
          border-radius: 4px;
          color: #ffffff;
          font-size: 12px;
          font-weight: 400;
          line-height: 10px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }

      .stepContent {
        color: #bbb7b7;
        margin-bottom: 40px;
        .underlined {
          text-decoration: underline;
          color: inherit;
        }
        h6 {
          font-size: 14px;
          font-weight: 500;

          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }

    .StepCompleted {
      h5,
      h6,
      p {
        color: #38383a !important;
      }
    }
  }
}

.deatialsMainWrapper {
  margin-top: 30px;
  h3 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
  }

  label {
    font-size: 11px;
    font-weight: 400;
    color: #5e5d62;
    display: block;

    span {
      display: block;
      font-size: 12px;
      font-weight: 400;
      color: #fff;

      article {
        display: inline;
        color: rgb(251, 30, 30);
        font-size: 11px;
      }
    }
  }

  .detailsListWrapper {
    margin-top: 10px;
    .deatilsItem {
      display: flex;
      gap: 5px;
      padding-block: 12px;
      border-bottom: 1px solid #2f2f31;

      @media screen and (max-width: 678px) {
        gap: 15px;
        flex-direction: column;
      }

      &:first-child {
        border-top: 1px solid #2f2f31;
      }

      h6 {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        width: 100%;
      }

      .inputActionWrapper {
        display: flex;

        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        input {
          background-color: #232325;
          border-radius: 5px;

          font-size: 12px;
          color: #89888d;
          width: 100%;
          flex-grow: 1;
          padding-left: 10px;
          border: none;
          padding-block: 6px;
        }
      }

      > div {
        width: 100%;

        label {
          &:not(:first-child) {
            margin-top: 5px;
          }
        }

        .logoUploadWrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          .imgWrapper {
            width: 20px;
            aspect-ratio: 1;
            border-radius: 5px;
            overflow: hidden;
          }

          button {
            all: unset;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 5px;
            padding: 4px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #db4c2a;

            span {
              display: block;
              font-size: 12px;
              font-weight: 400;
              color: #fff;
            }

            svg {
            }
          }
        }
      }
      .documentWrapper {
        display: flex !important;
        gap: 20px;
        .imageWrapper {
          border: 1px solid #898989;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          img {
            margin: 5px 5px 0px 5px;
            cursor: pointer;
          }
          button {
            border: none;
            border-radius: 0px 0px 4px 5px;
            background: #d76448;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            gap: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//modal

.modalContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem 2rem;
  h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }
  .modalDescription {
    color: #919199;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
  }
}

// upload document -------------------------------------------------------

.formWrapper {
  h3 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 21px;
    color: #fff;
  }
  .fbform {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    .doubleFlex {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 16px;

      @media screen and (max-width: 678px) {
        flex-wrap: wrap;
      }
      > div {
        width: 100%;
      }

      .fbformitem {
        .fbcheckboxlabel {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #f1f1ff;
          white-space: nowrap;
          margin-bottom: 12px;
          display: block;
        }
        select {
          width: 100%;
          padding: 13px;
          outline: none;
          border-radius: 8px;
        }
        input[type="text"],
        input[type="file"] {
          width: 100%;
          height: 48px;
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          padding: 16px 8px 16px 20px;
          background-color: transparent;
          border: 1px solid #857474;
          border-radius: 8px;
          box-sizing: border-box;
          color: var(--white-color);
        }
      }
    }
  }
  .btnWrapper {
    width: 100%;
    button {
      width: 100%;
      --button-bg: #020314;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px;
      margin: 1px;
      border: none;
      outline: none;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      font-family: acumin-pro, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--white-color);
      box-shadow: 0 4px 60px #00000005;
      transition: background-color var(--transition-delay) ease,
        color var(--transition-delay) ease, border var(--transition-delay) ease,
        border-color var(--transition-delay) ease;
      zoom: 105%;
      background-color: var(--button-bg);
      border: solid 1px transparent;
      border-radius: 8px;
      background-image: linear-gradient(var(--button-bg), var(--button-bg)),
        linear-gradient(
          to right,
          #8a2387 0%,
          rgba(233, 64, 87, 0.5) 36.98%,
          #f27121 100%
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }

  .errorWarning {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }
}

.addressWrapper {
  display: flex;
  gap: 10px;
  p {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: block;
  }
  button {
    border: none;
    border-radius: 5px;
    background: #d76448;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
  }
}

.addAddress {
  button {
    border: none;
    border-radius: 5px;
    background: #d76448;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
  }
}
