:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #1c1e26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

//header drawer style

.headerDrawerStyle {
  background-color: var(--primary-color) !important;
  .ant-drawer-header {
    padding-bottom: 0px;
    padding: 16px 10px !important;
    .ant-drawer-header-title {
      justify-content: end !important;
      .ant-drawer-close {
        color: #fff;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
