:root {
  --body-color: #020314;
  --white-color: #ffffff;
  --text-dark: #161618;
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #1c1e26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--body-color) !important;

  * {
    font-family: var(--font-noto-sans);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//header drawer style

.headerDrawerStyle {
  background-color: var(--primary-color) !important;
  .ant-drawer-header {
    padding-bottom: 0px;
    padding: 16px 10px !important;
    .ant-drawer-header-title {
      justify-content: end !important;
      .ant-drawer-close {
        color: #fff;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.siteLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.childrenWrapper {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  display: flex;
  flex-direction: column;
  min-height: 100%;
justify-content: space-between;
}
.childrenWrapper::-webkit-scrollbar {
  display: none;
  margin: 0;
  padding: 0; /* Chrome, Safari, Edge: Hide scrollbar */
}

.currencyModal {
  .ant-modal-content {
    background: #090a15 !important;
  }
  .ant-modal-close {
    color: var(--white-color) !important;
  }
  .ant-select-selector {
    border: none !important;
    background: #181429 !important;
    color: white !important;
    padding: 10px !important;
  }
  .ant-select-single {
    height: auto !important;
  }
}

.userModal {
  .ant-modal-content {
    background: #121327 !important;
  }
  .ant-modal-close {
    color: var(--white-color) !important;
  }
  .ant-select-selector {
    border: none !important;
    background: #121327 !important;
    color: white !important;
    padding: 10px !important;
  }
  .ant-select-single {
    height: auto !important;
  }
}

.ant-notification {
  z-index: 10001 !important;
  background-color: var(--primary-color) !important;
}

.loaderWrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 100002;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout {
  background: var(--body-color) !important;
}
.ant-layout-content {
  background: var(--body-color) !important;

  overflow: auto;
  max-height: 93vh;

  scrollbar-width: "none";

  &::-webkit-scrollbar {
    display: none;
  }
}

.ant-menu-dark,
.ant-menu-inline {
  background-color: #161618 !important;
}

.ant-layout-sider-children {
  border-right: 1px solid #272729;
}

.ant-menu-item {
  border-radius: 5px !important;
}

.ant-menu-item-selected {
  background-color: #ffffff08 !important;
}
.ant-menu-title-content {
  font-weight: 500;
}
.ant-layout-sider-trigger {
  background-color: #272729 !important;
}

.ant-layout-content {
  background-color: #161618 !important;
}

.sign-up-wrapper {
  max-width: 700px;
  margin-top: 30px;
  padding-inline: 20px;
  margin-inline: auto;

  .authHeaderItem {
    width: 100%;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.ant-modal-content {
  background-color: #161618 !important;
}

.ant-modal-footer {
  display: none;
}
.anticon {
  color: #fff !important;
}
.ant-select-arrow {
  margin: 0 !important;
  transform: translateY(-50%) !important;
}

.IframeWrapper {
  width: 100%;
  iframe {
    width: 90%;
    min-height: 75vh;
    body {
      display: flex;
      align-items: center;
      justify-items: center;
      background-color: #020314;
    }
  }
}
