:root {
  --body-color: #020314;
  --white-color: #ffffff;
  --text-dark: #161618;
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #1c1e26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--body-color) !important;

  * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//header drawer style

.headerDrawerStyle {
  background-color: var(--primary-color) !important;
  .ant-drawer-header {
    padding-bottom: 0px;
    padding: 16px 10px !important;
    .ant-drawer-header-title {
      justify-content: end !important;
      .ant-drawer-close {
        color: #fff;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.siteLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.childrenWrapper {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.childrenWrapper::-webkit-scrollbar {
  display: none; 
  margin: 0;
  padding: 0;/* Chrome, Safari, Edge: Hide scrollbar */
  
}



.currencyModal {
  .ant-modal-content {
    background: #090a15 !important;
  }
  .ant-modal-close {
    color: var(--white-color) !important;
  }
  .ant-select-selector {
    border: none !important;
    background: #181429 !important;
    color: white !important;
    padding: 10px !important;
  }
  .ant-select-single {
    height: auto !important;
  }
}
