.policyWrapper {
  color: #fff;

  padding-block: 20px 0px;
  padding-inline: 20px;

  h1 {
    color: #fff;
    letter-spacing: -0.025em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    letter-spacing: -0.025em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
  }

  ul {
    li {
      font-size: 14px;
    }
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .date {
    font-size: 10px;
    color: #a4a7ff;

    p {
      margin: 0;
      padding: 0;
    }
  }

  > div {
    margin-top: 20px;

    h2 {
      padding-block: 20px;
    }

    p {
      padding-left: 30px;
    }

    ul {
      padding-left: 50px;
    }
  }
}
