.userStepsMainWrapper {
    max-width: 100%;
    overflow-x: auto;
  
    border: 1px solid #424246;
    border-radius: 8px;
  
    scrollbar-width: "none";
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    ul {
      display: flex;
      justify-content: flex-start;
      gap: 0;
      align-items: flex-start;
      list-style: none;
  
      li {
        list-style: none;
        flex-shrink: 0;
  
        padding: 20px;
  
        max-width: 350px;
        cursor: pointer;
  
        @media screen and (max-width:480px) {
        max-width: 292px;
          
        }
  
        &:not(:last-child) {
          border-right: 1px solid #424246;
        }
        &:first-child {
          border-right: 1px solid #424246;
        }

        button{

            all: unset;
            cursor: pointer;
            background-color: #db4c2a;
            color: #fff;
            text-transform: capitalize  ;
            font-size: 12px;
            padding: 10px 10px;
            line-height: 0;
            border-radius: 4px;
            margin-top: 20px;
            float: right;


        }
  
        .stepCountWrapper {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          align-items: center;
  
          h5 {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: #bbb7b7;
          }
  
          span {
            padding: 8px 12px;
            background-color: #193b1f;
            border-radius: 4px;
            color: #76ae7f;
            font-size: 12px;
            font-weight: 400;
            line-height: 10px;
            text-transform: capitalize;
            font-weight: 400;
          }
        }
  
        .stepContent {
          color: #bbb7b7;
  
          .underlined {
            text-decoration: underline;
            color: inherit;
          }
          h6 {
            font-size: 14px;
            font-weight: 500;
  
            margin-bottom: 10px;
          }
          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }
  
      .StepCompleted {
        h5,
        h6,
        p {
          color: #38383a !important;
        }
      }
    }
  }
  
  



  .deatialsMainWrapper {
    margin-top: 30px;
    h3 {
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      margin-bottom: 10px;
    }
  
    label {
      font-size: 11px;
      font-weight: 400;
      color: #5e5d62;
      display: block;
  
      span {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
  
        article {
          display: inline;
          color: rgb(251, 30, 30);
          font-size: 11px;
        }
      }
    }
  
    .detailsListWrapper {
      margin-top: 10px;
      .deatilsItem {
        display: flex;
        gap: 5px;
        padding-block: 12px;
        border-bottom: 1px solid #2f2f31;
  
        @media screen and (max-width: 678px) {
          gap: 15px;
          flex-direction: column;
        }
  
        &:first-child {
          border-top: 1px solid #2f2f31;
        }
  
        h6 {
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          width: 100%;
        }
  
        .inputActionWrapper {
          display: flex;
  
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
  
          input {
            background-color: #232325;
            border-radius: 5px;
  
            font-size: 12px;
            color: #89888d;
            width: 100%;
            flex-grow: 1;
            padding-left: 10px;
            border: none;
            padding-block: 6px;
          }
        }
  
        > div {
          width: 100%;
  
          label {
            &:not(:first-child) {
              margin-top: 5px;
            }
          }
          button {
            all: unset;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 5px;
            padding: 4px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #db4c2a;
            flex-shrink: 0;
            span {
              display: block;
              font-size: 12px;
              font-weight: 400;
              color: #fff;
            }
          }
  
          .logoUploadWrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
  
            .imgWrapper {
              width: 20px;
              aspect-ratio: 1;
              border-radius: 5px;
              overflow: hidden;
            }
  
            button {
              all: unset;
              box-sizing: border-box;
              cursor: pointer;
              border-radius: 5px;
              padding: 4px 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              background-color: #db4c2a;
  
              span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #fff;
              }
  
              svg {
              }
            }
          }
        }
      }
    }
  }
  