.footer {
  text-align: center;

  color: #fff;
  margin-top: 100px;
  position: relative;

  > div {
    position: relative;
    z-index: 10;
    padding-block: 60px 10px;
    background-color: #020314;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-inline: 50px;
  }

  &::before {
    --gradient-01: #a66bfe;

    --gradient-02: #ff71bc;
    --gradient-03: #ffa76a;
    content: "";
    position: absolute;
    inset: -1px -1px 0px -1px;

    background-image: linear-gradient(
      90deg,
      var(--gradient-01),
      var(--gradient-02) 49%,
      var(--gradient-03)
    );

    // background: linear-gradient(84deg, #22a3ff, #ff90c9 25%, #4d54ff);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: -0;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    color: #e5e5e5;

    &:has(a) {
      margin-bottom: 15px;
    }
  }
}
.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
  }
  a {
    color: #a09fa6;
    transition: all ease-in-out 0.5ms;
    position: relative;
    &::after {
      content: "";
      width: 1.5px;
      height: 15px;
      position: absolute;
      top: 4px;
      z-index: 3;
      right: -10px;
      color: #534f4f;
      background: #9b9393;
    }
    &:nth-of-type(2) {
      @media screen and (max-width: 576px) {
        &::after {
          display: none;
        }
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &:hover {
      text-decoration: underline !important;
    }
  }
}
