.footer {

   
    text-align: center;
  
    color: #fff;
    margin-top: 100px;
    position: relative;

    >div {
        position: relative;
        z-index: 10;
        padding-block: 60px 10px;
        background-color: #020314;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-inline: 50px;
    }

    &::before {

        --gradient-01: #a66bfe;
  
        --gradient-02: #ff71bc;
        --gradient-03: #ffa76a;
        content: '';
        position: absolute;
        inset: -1px -1px 0px -1px;

        background-image: linear-gradient(90deg, var(--gradient-01), var(--gradient-02) 49%, var(--gradient-03));

        // background: linear-gradient(84deg, #22a3ff, #ff90c9 25%, #4d54ff);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        z-index: -0;

    }


    h2 {
        margin-bottom: 20px;
    }

    p {

        color: #a4a7ff;


        &:has(a) {
            margin-bottom: 15px;
        }
    }
}