.contentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .cardWrapper {
    width: 80%;
    background: var(--body-color);
    border-radius: 4px;
    border: 2px solid #3f3f3f;

    .header {
      width: 100%;
      display: flex;
      padding: 10px 20px;
      background: #161618;
      border-bottom: 2px solid #3f3f3f;

      .leftSide {
        width: 70%;

        h3 {
          color: #ffffff;
          font-size: 23px;
          font-family: var(--font-noto-sans);
          padding: 0;
          margin: 0;
          text-transform: capitalize;
        }

        p {
          color: #dcdcdc;
          font-size: 14px;
          font-family: var(--font-noto-sans);
        }
      }

      .rightSide {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          padding: 10px 14px;
          border: none;
          background: #e54d2e;
          border-radius: 2px;
          cursor: pointer;
          outline: none;
          font-family: var(--font-noto-sans);
          font-weight: 500;
          transition: all 0.3s linear;
          font-size: 15px;

          &:hover {
            background: #ad3016;
            transform: scale(1.02);
          }
        }
      }
    }

    .bodyContent {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      .leftWrapper {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;

        p {
          color: #dcdcdc;
          font-size: 14px;
          font-family: var(--font-noto-sans);
        }
      }

      .rightWrapper {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;

        button {
          padding: 10px 14px;
          border: none;
          background: var(--status-color, #e44646);
          border-radius: 2px;
          cursor: pointer;
          outline: none;
          font-family: var(--font-noto-sans);
          font-weight: 500;
          transition: all 0.3s linear;
          font-size: 15px;
        }
        p {
          color: #dcdcdc;
          font-size: 14px;
          font-family: var(--font-noto-sans);
        }
      }
    }

    .footerConetentWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 20px;

      .footerLeft {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;

        h2 {
          color: #ffffff;
          font-size: 18px;
          font-family: var(--font-noto-sans);
          padding: 0;
          margin: 0;
        }
      }
      .footerRight {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        h2 {
          color: #ffffff;
          font-size: 18px;
          font-family: var(--font-noto-sans);
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
