$highlight-color: #ff5a5f;
$secondary-color: #622774;

.sectionOne {
  .registrationSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .content {
      flex: 1;
      max-width: 600px;

      .subheading {
        color: var(--white-color);
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .heading {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.3;
        margin-bottom: 1rem;
        color: var(--white-color);
      }

      .description {
        font-size: 1rem;
        line-height: 1.6;
        color: #606770;
        margin-bottom: 1.5rem;
      }

      .ctaButtons {
        display: flex;
        gap: 1rem;

        .btn {
          display: inline-block;
          padding: 0.75rem 1.5rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          transition: background-color 0.3s ease;

          &.btnPrimary {
            background-color: var(--white-color);
            color: var(--text-dark);
            transition: background-color 0.3s ease;
            transition: color 0.3s ease;

            &:hover {
              background: linear-gradient(
                45deg,
                $highlight-color,
                $secondary-color
              );
              color: var(--white-color);
            }
          }

          &.btnSecondary {
            background-color: #f1f2f6;
            color: #1c1e21;

            &:hover {
              background-color: #d8dadf;
            }
          }
        }
      }

      .rating {
        margin-top: 1rem;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          height: 20px;
        }
      }
    }

    .mapSection {
      flex: 1;
      position: relative;
      max-width: 600px;
      text-align: center;

      .mapImage {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      .location {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        img {
          height: 20px;
        }

        span {
          font-size: 0.9rem;
          font-weight: 500;
          color: #1c1e21;
        }
      }
    }

    // Responsive Design
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;

      .content {
        max-width: 100%;
        margin-bottom: 2rem;
      }

      .mapSection {
        max-width: 100%;

        .location {
          font-size: 0.8rem;
          gap: 0.3rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }
  }
}

.sectionTwo {
  .processSection {
    text-align: center;
    padding: 3rem 0rem;

    .header {
      margin-bottom: 2rem;

      .title {
        font-size: 2rem;
        font-weight: bold;
        color: var(--white-color);
        margin-bottom: 0.5rem;
      }

      .subtitle {
        font-size: 1rem;
        color: #606770;
        line-height: 1.6;
      }
    }

    .steps {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .step {
        background-color: #eef3fc;
        border-radius: 10px;
        padding: 1.5rem;
        text-align: center;
        width: 250px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }

        .icon {
          background-color: #ffffff;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto 1rem;

          img {
            width: 30px;
            height: auto;
          }
        }

        .stepNumber {
          font-weight: bold;
          margin-bottom: 0.5rem;
          background: linear-gradient(45deg, #ff0008, #d54bff);
          -webkit-background-clip: text; /* Apply gradient to text */
          -webkit-text-fill-color: transparent; /* Make text color transparent */
          font-size: 0.9rem; /* Adjust font size */
          text-transform: uppercase;
          text-align: center;
        }

        .stepTitle {
          font-size: 1.2rem;
          font-weight: bold;
          color: #1c1e21;
          margin-bottom: 0.5rem;
        }

        .stepDescription {
          font-size: 0.9rem;
          color: #606770;
        }
      }
    }

    // Responsive Design
    @media (max-width: 768px) {
      .steps {
        flex-direction: column;
        align-items: center;
      }

      .step {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

.registerSection {
  text-align: center;
  padding: 3rem 0rem;

  .header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #606770;
      line-height: 1.6;
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .feature {
      background-color: #eef3fc;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      color: #1c1e21;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.companyStructure {
  text-align: center;
  padding: 3rem 1.5rem;

  .header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #606770;
      line-height: 1.6;
    }
  }

  .structures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .structure {
      border-radius: 10px;
      padding: 1.5rem;
      text-align: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      .iconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .type {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          margin-bottom: 1rem;
          background: transparent;
          border-radius: 10px;
          padding: 0.7rem 1rem;
          text-align: center;
          box-shadow: 0 2px 8px rgb(255 255 255 / 10%);
          img {
            height: 40px;
          }

          span {
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--white-color);
          }
        }
      }

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.6;
        color: #606770;

        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .contact {
    margin-top: 2rem;
    font-size: 1rem;

    a {
      color: $secondary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.wyomingDelawareSection {
  text-align: center;
  padding: 3rem 1.5rem;

  .header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #606770;
      line-height: 1.6;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    .structure {
      border-radius: 10px;
      padding: 1.5rem;
      text-align: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      .iconWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .type {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          margin-bottom: 1rem;
          background: transparent;
          border-radius: 10px;
          padding: 0.7rem 1rem;
          text-align: center;
          box-shadow: 0 2px 8px rgb(255 255 255 / 10%);
          img {
            height: 40px;
          }

          span {
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--white-color);
          }
        }
      }

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.6;
        color: #606770;

        li {
          margin-bottom: 0.5rem;
        }
      }
    }

    // .card {
    //   background-color: #eef3fc;
    //   border-radius: 10px;
    //   padding: 1.5rem;
    //   width: 300px;
    //   text-align: left;
    //   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    //   transform: translateY(50px);
    //   opacity: 0;

    //   .icon {
    //     display: flex;
    //     align-items: center;
    //     gap: 0.5rem;
    //     margin-bottom: 1rem;

    //     img {
    //       height: 40px;
    //     }

    //     span {
    //       font-size: 1.2rem;
    //       font-weight: bold;
    //       color: #1c1e21;
    //     }
    //   }

    //   ul {
    //     list-style: none;
    //     padding: 0;
    //     font-size: 0.9rem;
    //     line-height: 1.6;
    //     color: #606770;

    //     li {
    //       margin-bottom: 0.5rem;
    //     }
    //   }
    // }
  }

  .contact {
    margin-top: 2rem;
    font-size: 1rem;

    a {
      color: $secondary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.manageBusinessSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  background: transparent;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    .text {
      flex: 1;
      h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--white-color);
      }

      p {
        font-size: 1rem;
        color: #606770;
        margin-bottom: 1.5rem;
        line-height: 1.6;
      }

      .button {
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        font-weight: 600;
        background-color: var(--white-color);
        color: var(--text-dark);
        transition: background-color 0.3s ease;
        transition: color 0.3s ease;

        &:hover {
          background: linear-gradient(
            45deg,
            $highlight-color,
            $secondary-color
          );
          color: var(--white-color);
        }
      }
    }

    .features {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .feature {
        background-color: #eef3fc;
        border-radius: 5px;
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: #1c1e21;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(30px);
        opacity: 0;
        animation: fadeInUp 0.5s ease forwards;

        &.animationDelay0 {
          animation-delay: 0.2s;
        }

        &.animationDelay1 {
          animation-delay: 0.4s;
        }

        &.animationDelay2 {
          animation-delay: 0.6s;
        }
      }
    }
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .content {
      flex-direction: column;
      text-align: center;

      .text {
        max-width: 100%;
      }

      .features {
        max-width: 100%;
      }
    }
  }
}
