.modalContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem 2rem;
  h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }
  .modalDescription {
    color: #919199;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.currencyLabel {
  font-size: 14px;
  color: #9ca3af;
}

.btnWrapper {
  width: 100%;
  button {
    width: 100%;
    --button-bg: #020314;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 1px;
    border: none;
    outline: none;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    box-shadow: 0 4px 60px #00000005;
    transition: background-color var(--transition-delay) ease,
      color var(--transition-delay) ease, border var(--transition-delay) ease,
      border-color var(--transition-delay) ease;
    zoom: 105%;
    background-color: var(--button-bg);
    border: solid 1px transparent;
    border-radius: 8px;
    background-image: linear-gradient(var(--button-bg), var(--button-bg)),
      linear-gradient(
        to right,
        #8a2387 0%,
        rgba(233, 64, 87, 0.5) 36.98%,
        #f27121 100%
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
