.modalContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem 2rem;
  h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }
  .modalDescription {
    color: #919199;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.currencyLabel {
  font-size: 14px;
  color: #9ca3af;
}

.btnWrapper {
  width: 100%;
  button {
    width: 100%;
    --button-bg: #020314;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 1px;
    border: none;
    outline: none;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    box-shadow: 0 4px 60px #00000005;
    transition: background-color var(--transition-delay) ease,
      color var(--transition-delay) ease, border var(--transition-delay) ease,
      border-color var(--transition-delay) ease;
    zoom: 105%;
    background-color: var(--button-bg);
    border: solid 1px transparent;
    border-radius: 8px;
    background-image: linear-gradient(var(--button-bg), var(--button-bg)),
      linear-gradient(
        to right,
        #8a2387 0%,
        rgba(233, 64, 87, 0.5) 36.98%,
        #f27121 100%
      );
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.successAnimation {
  margin: 0 auto;
  .checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
  }
  .checkmarkCircle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: var(--body-color);
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmarkCheck {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {
    0%,
    100% {
      transform: none;
    }

    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
  }
}

.failedAnimation {
  margin: 0 auto;
  .circle {
    display: flex;
    width: 10.555rem;
    height: 10.555rem;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%;
    animation: circle-appearance 0.8s ease-in-out 1 forwards,
      set-overflow 0.1s 1.1s forwards;
    margin: 0 auto 5.5rem;
    background: rgb(236, 78, 75);
  }
}
