.formWrapper {
  h3 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 21px;
    color: #fff;
    text-transform: capitalize;
  }
  .confirmWrapper {
    text-align: center;
    p {
      color: #fff;
    }
    .btnWrapper {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      gap: 15px;
      margin-top: 16px;
      button {
        padding: 9px;
        border: none;
        border-radius: 3px;
        background: #dc3545;
        &:hover {
          background: #f05161;
        }
        cursor: pointer;
        &:last-child {
          background: #6610f2;
          &:hover {
            background: #7528f1;
          }
        }
      }
    }
  }
}
