.forgotWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;

  > div {
    min-width: 400px;
    max-width: 400px;
    @media screen and (max-width: 480px) {
      padding-inline: 20px;
      min-width: 100%;
    }
  }

  .signinWithGoogleWrapper {
    margin-bottom: 20px;
    .authHeaderItem {
      width: 100%;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 20px;
      color: #ededef;
    }
    p {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0;
      color: #a09fa6;
      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.1s ease-out;
        color: #f16a50;
        margin-left: 5px;
      }
    }

    button {
      font-size: 16px;
      line-height: 24px;
      min-height: 40px;
      max-height: 40px;
      width: 100%;
      padding: 0 8px;

      cursor: pointer;
      background-color: #e54d2e;
      border-radius: 6px;
      border: 1px solid #e54d2e;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 4px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        svg {
          display: inline-block;
          font-size: inherit;
          height: 1em;
          overflow: visible;
          vertical-align: -0.125em;
        }
      }
    }

    .orBlockWrapper {
      width: 100%;
      text-align: center;
      padding-block: 20px 40px;
      position: relative;
      &::before {
        content: "";

        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        top: 53%;
        transform: translateY(-50%);
        background-color: #a09fa6;
        z-index: 1;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        padding-inline: 10px;
        background-color: #161618;
        z-index: 20;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
        color: #a09fa6;
      }
    }
  }
}

.formWrapper {
  .formContent {
    .authFormItem {
      margin-bottom: 20px;
      label {
        display: block;

        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: inherit;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 8px;
        color: #ffffff;
      }
      input[type="email"],
      input[type="password"] {
        width: 100%;
        height: 34px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0 8px;
        background-color: #232326;
        border: 1px solid #34343a;
        border-radius: 8px;
        transition: border-color 0.1s ease;
        overflow: hidden;
        z-index: 1;
        color: #ffffff;
      }
    }
  }

  .formActions {
    button {
      width: 100%;
      border-radius: 6px;
      border: 1px solid #e54d2e;
      color: #ededef;
      background-color: #e54d2e;
      cursor: pointer;
      font-weight: 600;
      transition: all 0.1s ease-out;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      min-height: 40px;
      max-height: 40px;
      padding: 0 16px;
    }
  }
}

.errorWarning {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

.bButtonContent {
  color: #ffffff !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    border-radius: 20px;
    padding: 2.5rem 2rem 2rem 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 28px;
      color: #fff;
    }
  }
  .iconRow {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;

    p {
      color: #fff;
      text-align: center;
      font-size: 14px;
    }
  }
  .codeRow {
    display: flex;
    gap: 12px;
    margin-bottom: 1.5rem;
    :global {
      .ant-input {
        font-size: 18px !important;
      }
    }
  }
  form {
    display: contents;
  }
}
.resendOtp {
  width: 100%;

  text-align: right;
  padding-inline: 17px;
  margin-bottom: 5px;
  button {
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #f16a50;
    }
  }
}
.codeBox {
  background: #f6f6f6;
  border-radius: 7px;
  width: 44px;
  height: 54px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 0 2px 8px #e6e6e6;
}

.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.35rem;
  font-weight: 700;
  margin: 0.6rem 0 0.3rem 0;
  color: #222;
  text-align: center;
}

.desc {
  color: #909090;
  font-size: 0.97rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.button {
  background: #8cc959;
  color: #fff;
  padding: 0.85rem 2.2rem;
  border-radius: 8px;
  border: none;
  font-size: 1.07rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.1rem;
  transition: background 0.2s;
}
.button:hover {
  background: #7ab74b;
}

.countdownRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  .timerBadge {
    color: #fff;
  }
  .expiredText {
    color: #fa541c;
  }
}
