.faqSection {
  padding: 3rem 1.5rem;
  text-align: center;

  .header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #606770;
      line-height: 1.6;
    }
  }

  .faqList {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

    .faqItem {
      background-color: rgba(238, 243, 252, 0.0784313725);
      border: 1px solid rgba(238, 243, 252, 0.0784313725);
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.3s ease;

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #1c1e21;
        cursor: pointer;
        transition: background-color 0.3s ease;
        span {
          background: linear-gradient(84deg, #22a3ff, #ff90c9 25%, #4d54ff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        

        .icon {
          font-size: 1.5rem;
          font-weight: bold;
          color: #007bff;
          transition: transform 0.3s ease;
        }
      }

      .answer {
        padding: 1rem;
        font-size: 0.9rem;
        color: #606770;
        overflow: hidden;
        transition: all 0.3s ease;
        text-align: left;
        color: #d1d2e8;
      }

      &.active .icon {
        transform: rotate(180deg);
      }
    }
  }
}
