.deatialsMainWrapper {
  h3 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
  }

  label {
    font-size: 11px;
    font-weight: 400;
    color: #5e5d62;
    display: block;


    span {
      display: block;
      font-size: 12px;
      font-weight: 400;
      color: #fff;

      article{
        display: inline;
        color: rgb(251, 30, 30);
        font-size: 11px;
      }
    }
  }

  .detailsListWrapper {
    margin-top: 10px;
    .deatilsItem {
      display: flex;
      gap: 5px;
      padding-block: 12px;
      border-bottom: 1px solid #2f2f31;

      @media screen and (max-width:678px) {
      gap: 15px;
      flex-direction: column;
        
      }

      &:first-child{
      border-top: 1px solid #2f2f31;

      }

      h6 {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        width: 100%;
      }
      .inputActionWrapper{
        display: flex;

        align-items: center;
        justify-content: flex-start;
        gap: 10px;


        input{
            background-color: #232325;
            border-radius: 5px;

            font-size: 12px;
            color: #89888D;
            width: 100%;
            flex-grow: 1;
            padding-left: 10px;
            border: none;
            padding-block: 6px;
        }
      }

      > div {
        width: 100%;

        label{
            &:not(:first-child){
                margin-top: 5px;
            }
        }
        button{
            all:unset;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 5px;
            padding: 4px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #DB4C2A;
            flex-shrink: 0;
            span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #fff;
              }

            
          }

        .logoUploadWrapper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          .imgWrapper{
            width: 20px;
            aspect-ratio: 1;
            border-radius: 5px;
            overflow: hidden;

          }

          button{
            all:unset;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 5px;
            padding: 4px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #DB4C2A;

            span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #fff;
              }

              svg{

              }
          }
        }
      }
    }
  }
}
