.policyWrapper {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;

  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
  }

  h2 {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    color: #f0f0f0;
  }

  p {
    margin-bottom: 1rem;
    color: #d8d1d1 !important;
    font-size: 1rem;
  }

  ul {
    padding-left: 1.25rem;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0.5rem;
      list-style: disc;
      color: #d8d1d1 !important;
    }
  }

  a {
    color: #0066cc;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
