$form-bg: #020314;
$primary-color: #ff5a5f;
$secondary-color: #622774;
$text-color: #fff;
$card-bg: #1b1d29;

.formContainer {
  background-color: $form-bg;
  color: $text-color;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;

  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .formGroup {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--white-color);
      }

      .inputField {
        padding: 0.75rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        background-color: #1b1d29;
        color: $text-color;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: $primary-color;
          //   box-shadow: 0 0 8px rgba(255, 249, 249, 0.8);
        }
      }

      textarea.inputField {
        resize: none;
      }

      .error {
        color: $primary-color;
        font-size: 0.7rem;
        margin-top: 0.3rem;
      }
    }

    .submitButton {
      background: linear-gradient(45deg, $primary-color, $secondary-color);
      color: $text-color;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(255, 90, 95, 0.5);
      }
    }
  }
}
